*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  padding: 5rem;
  color: $color-grey;
  background-color: $color-light-grey;
}

.container {
  background-color: #F7F7F7
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(105, 71, 40, 0.5) 0.03%, rgba(8, 8, 8, 0.5) 99.94%), url(../assets/img/header-background.jpg) center / cover no-repeat;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 80%);

  &__logo {
    position: absolute;
    left: 5rem;
    top: 5rem;
    height: 7rem;
    width: 5.6rem;
  }

  &__box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
}

.title-first {
  color: #FFFFFF;

  &__main {
    display: block;
    font-weight: 800;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    animation-name: leftToRight;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 2s;
    backface-visibility: hidden;
  }

  &__secondary {
    display: block;
    font-weight: 100;
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: .5rem;
    animation-name: rightToLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 2s;
    backface-visibility: hidden;
    margin-bottom: 6.5rem;
  }
}


.about-section {
  padding-bottom: 1rem;
}

.title-secondary {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba($color-brown-normal, 0.7) 0.03%, rgba($color-brown-black, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .4s;
  backface-visibility: hidden;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1);
    text-shadow: $text-shadow;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  column-gap: 10rem;
}

.grid-item {

}

.title-third {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  color: $color-grey;
}

.p-about {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
  color: $color-grey;
}

.composition {
  position: relative;

  &__photo {
    width: 50%;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
    box-shadow: $box-shadow;
    border-radius: .5rem;
    position: absolute;
    outline-offset: 1rem;

    &_n1 {
      top: 0;
      left: 0;
    }

    &_n2 {
      top: 11rem;
      left: 2.6rem;
    }

    &_n3 {
      top: 5.5rem;
      left: 16.7rem;
    }

    &:hover {
      transform: scale(1.1);
      z-index: 20;
      outline: 0.1rem solid $color-grey;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }
}

.adventure-section {
  padding: 21rem 0;
  background: linear-gradient(90deg, rgba(105, 71, 40, 0.50) -0.81%, rgba(8, 8, 8, -2.5) -0.8%), url(../assets/img/background-tour.jpg) center / cover no-repeat;
  clip-path: polygon(0 0, 100% 9%, 100% 99%, 0 89%)
}

.adventure-grid-container {
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.adventure-grid-item {
  padding: 2.5rem;
  background-color: rgba($color-white, .8);
  border-radius: .5rem;
  box-shadow: $box-shadow;
  text-align: center;

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    transition: 0.3s all;
  }

  &_icon {
    display: inline-block;
    font-size: 6rem;
    background: linear-gradient(90deg, rgba($color-brown-normal, 0.7) 0.03%, rgba($color-brown-black, 0.7) 99.94%);
    -webkit-background-clip: text;
    color: transparent;
  }

  &_p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 0.2rem;
    color: $color-grey;
  }
}

.popular-section {
  position: relative;
}
.popular-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
}

.popular-grid-item {
  height: 50rem;
  perspective: 150rem;
  position: relative;

  &__img {
    height: 21rem;
    background: $color-brown-normal url(../assets/img/card1.jpg) center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background-blend-mode: hard-light;
  }

  &__img2 {
    height: 21rem;
    background: $color-brown-normal url(../assets/img/card2.jpg) center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background-blend-mode: hard-light;
  }

  &__img3 {
    height: 21rem;
    background: $color-brown-normal url(../assets/img/card3.jpg) center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background-blend-mode: hard-light;
  }

  &__title {
    position: relative;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 3.3rem;
    letter-spacing: .2rem;
    color: $color-white;
    text-align: right;
  }

  &__span {

    background: linear-gradient(90deg, $color-brown-normal, $color-brown-black);

    &_first {
      padding: 1.1rem 1.8rem 0 1.8rem;
      position: absolute;
      top: -50px;
      left: 125px;
    }

    &_first2 {
      padding: 0 1.8rem 1rem 1.8rem;
      position: absolute;
      top: -6px;
      left: 231px;
    }

    &_second {
      padding: 1.1rem 1.8rem 0 1.8rem;
      position: absolute;
      top: -50px;
      left: 168px;
    }

    &_second2 {
      padding: 0 1.8rem 1rem 1.8rem;
      position: absolute;
      top: -6px;
      left: 233px;
    }

    &_third {
      padding: 1.1rem 1.8rem 0 1.8rem;
      position: absolute;
      top: -50px;
      left: 116px;
    }

    &_third2 {
      padding: 0 1.8rem 1rem 1.8rem;
      position: absolute;
      top: -6px;
      left: 142px;
    }
  }


  &__text {

    > ul {
      list-style: none;
      margin: 0 auto;
      width: 77%;

      li {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        letter-spacing: .2rem;
        text-align: center;
        color: $color-grey;
        border-bottom: 1px solid $color-grey;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
  }

  &__side {
    height: 50rem;
    transition: .7s all ease-out;
    color: $color-grey;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &_front {
      background-color: $color-white;
    }

    &_back {
      background: linear-gradient(120deg, rgba($color-brown-normal, 0.7) 0.03%, rgba($color-brown-black, 0.7) 99.94%);
      transform: rotateY(180deg);

      &_box {
        padding: 10rem 3.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8rem;
        > h4 {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.9rem;
          letter-spacing: .2rem;
          color: $color-white;
        }

        > span {
          font-size: 6rem;
          font-weight: 500;
          line-height: 7.2rem;
          letter-spacing:.2rem;
          color: $color-white;
        }

        > button {
          border-radius: 1.5rem;
          border: none;
          background-color: $color-white;
          padding: 1.5rem 2.1rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 2.4rem;
          letter-spacing: .5rem;
          color: $color-grey;
          box-shadow:$box-shadow;
        }
      }
    }
  }

  &:hover &__side_front {
    transform: rotateY(-180deg);
  }

  &:hover &__side_back {
    transform: rotateY(0deg);
  }
}

.review-section {

}

.booking-section {
  background-color: $color-brown-normal;
}

.footer {
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  img {

  }

  background-color: #333333;

  &__wrapper {
    span {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.936rem;
      letter-spacing: .2rem;

    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}

/**keyframes**/
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  20% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  20% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}