*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding: 5rem;
  color: #777777;
  background-color: #F7F7F7;
}

.container {
  background-color: #F7F7F7;
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(105, 71, 40, 0.5) 0.03%, rgba(8, 8, 8, 0.5) 99.94%), url(../assets/img/header-background.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.title-first {
  color: #FFFFFF;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 2s;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: rightToLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 2s;
  backface-visibility: hidden;
  margin-bottom: 6.5rem;
}

.about-section {
  padding-bottom: 1rem;
}

.title-secondary {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s;
  backface-visibility: hidden;
}
.title-secondary__white {
  color: #FAFAFA;
  padding-top: 8rem;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  column-gap: 10rem;
}

.title-third {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  color: #777777;
}

.p-about {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
  color: #777777;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 50%;
  height: 20rem;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  position: absolute;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  top: 0;
  left: 0;
}
.composition__photo_n2 {
  top: 11rem;
  left: 2.6rem;
}
.composition__photo_n3 {
  top: 5.5rem;
  left: 16.7rem;
}
.composition__photo:hover {
  transform: scale(1.1);
  z-index: 20;
  outline: 0.1rem solid #777777;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.adventure-section {
  padding: 21rem 0;
  background: linear-gradient(90deg, rgba(105, 71, 40, 0.5) -0.81%, rgba(8, 8, 8, 0) -0.8%), url(../assets/img/background-tour.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 9%, 100% 99%, 0 89%);
}

.adventure-grid-container {
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.adventure-grid-item {
  padding: 2.5rem;
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}
.adventure-grid-item:hover {
  transform: translateY(-1.5rem) scale(1.03);
  transition: 0.3s all;
}
.adventure-grid-item_icon {
  display: inline-block;
  font-size: 6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
}
.adventure-grid-item_p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #777777;
}

.popular-section {
  position: relative;
}

.popular-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
}

.popular-grid-item {
  height: 50rem;
  perspective: 150rem;
  position: relative;
}
.popular-grid-item__img {
  height: 21rem;
  background: #BA8554 url(../assets/img/card1.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background-blend-mode: hard-light;
}
.popular-grid-item__img2 {
  height: 21rem;
  background: #BA8554 url(../assets/img/card2.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background-blend-mode: hard-light;
}
.popular-grid-item__img3 {
  height: 21rem;
  background: #BA8554 url(../assets/img/card3.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background-blend-mode: hard-light;
}
.popular-grid-item__title {
  position: relative;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 3.3rem;
  letter-spacing: 0.2rem;
  color: #FAFAFA;
  text-align: right;
}
.popular-grid-item__span {
  background: linear-gradient(90deg, #BA8554, #A14F03);
}
.popular-grid-item__span_first {
  padding: 1.1rem 1.8rem 0 1.8rem;
  position: absolute;
  top: -50px;
  left: 125px;
}
.popular-grid-item__span_first2 {
  padding: 0 1.8rem 1rem 1.8rem;
  position: absolute;
  top: -6px;
  left: 231px;
}
.popular-grid-item__span_second {
  padding: 1.1rem 1.8rem 0 1.8rem;
  position: absolute;
  top: -50px;
  left: 168px;
}
.popular-grid-item__span_second2 {
  padding: 0 1.8rem 1rem 1.8rem;
  position: absolute;
  top: -6px;
  left: 233px;
}
.popular-grid-item__span_third {
  padding: 1.1rem 1.8rem 0 1.8rem;
  position: absolute;
  top: -50px;
  left: 116px;
}
.popular-grid-item__span_third2 {
  padding: 0 1.8rem 1rem 1.8rem;
  position: absolute;
  top: -6px;
  left: 142px;
}
.popular-grid-item__text > ul {
  list-style: none;
  margin: 0 auto;
  width: 77%;
}
.popular-grid-item__text > ul li {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #777777;
  border-bottom: 1px solid #777777;
}
.popular-grid-item__text > ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.popular-grid-item__side {
  height: 50rem;
  transition: 0.7s all ease-out;
  color: #777777;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}
.popular-grid-item__side_front {
  background-color: #FAFAFA;
}
.popular-grid-item__side_back {
  background: linear-gradient(120deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  transform: rotateY(180deg);
}
.popular-grid-item__side_back_box {
  padding: 10rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.popular-grid-item__side_back_box > h4 {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #FAFAFA;
}
.popular-grid-item__side_back_box > span {
  font-size: 6rem;
  font-weight: 500;
  line-height: 7.2rem;
  letter-spacing: 0.2rem;
  color: #FAFAFA;
}
.popular-grid-item__side_back_box > button {
  border-radius: 3rem;
  border: none;
  background-color: #FAFAFA;
  padding: 1.5rem 2.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
  color: #777777;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.popular-grid-item:hover .popular-grid-item__side_front {
  transform: rotateY(-180deg);
}
.popular-grid-item:hover .popular-grid-item__side_back {
  transform: rotateY(0deg);
}

.feedback-section {
  position: relative;
  padding-bottom: 3rem;
}
.feedback-section__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.feedback-section__grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5rem;
}
.feedback-section__grid_item {
  width: 70%;
  background: rgba(250, 250, 250, 0.75);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(-15deg);
}
.feedback-section__grid_item > * {
  transform: skewX(15deg);
}
.feedback-section__grid_item-img {
  position: relative;
  width: 16rem;
  height: 16rem;
  background-color: gainsboro;
  float: left;
  border-radius: 50%;
  shape-outside: circle(41.6% at 50% 50%);
  -webkit-shape-outside: circle(41.6% at 50% 50%);
  margin-right: 4.5rem;
  overflow: hidden;
}
.feedback-section__grid_item-img > img {
  height: 100%;
  transform: scale(1.2);
  transition: 0.5s all;
}
.feedback-section__grid_item-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.2rem;
  color: #FAFAFA;
}
.feedback-section__grid_item:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}
.feedback-section__grid_item:hover .feedback-section__grid_item-name {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backface-visibility: hidden;
}

.booking-section {
  padding: 8rem;
  background: linear-gradient(90deg, #BA8554, #A14F03);
}
.booking-section__book {
  height: 50rem;
  background: linear-gradient(141deg, rgba(255, 255, 255, 0.9) 57%, rgba(186, 133, 84, 0) 57%, rgba(161, 79, 3, 0.9) 100%), url(../assets/img/booking.jpg) center/cover no-repeat;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  overflow: hidden;
}
.booking-section__form {
  padding: 3rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-group__input {
  width: 55%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 2px;
  color: #000000;
  background-color: #FAFAFA;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 1.8rem 0 1.8rem 1.8rem;
  border-radius: 0.3rem;
}
.form-group__label {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.92rem;
  letter-spacing: 0.2rem;
  transition: 0.7s all;
}
.form-group__input:placeholder-shown + .form-group__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form-group #name {
  border-bottom: 2px solid transparent;
}
.form-group #name:focus {
  outline: none;
  border-bottom: 2px solid #66D763;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.form-group #name:focus:invalid {
  border-bottom: 2px solid #D76363;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.form-group #email {
  border-bottom: 2px solid transparent;
}
.form-group #email:focus {
  outline: none;
  border-bottom: 2px solid #66D763;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.form-group #email:focus:invalid {
  border-bottom: 2px solid #D76363;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.radio-group {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
.radio-group .radio {
  position: relative;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.radio-group .radio__input {
  display: none;
  cursor: pointer;
}
.radio-group .radio__input:checked + .radio__label .radio__circle::after {
  opacity: 1;
}
.radio-group .radio__label {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.92rem;
  letter-spacing: 0.2rem;
}
.radio-group .radio__circle {
  position: absolute;
  top: -0.3rem;
  left: -4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #BA8554;
  display: block;
}
.radio-group .radio__circle::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #BA8554;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s all;
}

.footer {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  color: #FAFAFA;
  background-color: #333333;
}
.footer__img {
  width: 12rem;
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.footer__wrapper span {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.936rem;
  letter-spacing: 0.2rem;
  transition: 0.5s ease-out;
}
.footer__wrapper span:hover {
  color: #BA8554;
  transform: translateY(-0.5rem);
}

.navigation__toggle {
  display: none;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__button {
  background-color: #FAFAFA;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 8rem;
  right: 7rem;
  z-index: 200;
  text-align: center;
}
.navigation__button:hover .navigation__icon::before {
  top: -10px;
}
.navigation__button:hover .navigation__icon::after {
  top: 10px;
}
.navigation__icon {
  cursor: pointer;
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
}
.navigation__icon, .navigation__icon::before, .navigation__icon:after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #000000;
  display: inline-block;
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -8px;
}
.navigation__icon:after {
  top: 8px;
}
.navigation__background {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  right: 7rem;
  top: 9rem;
  z-index: 100;
  transition: 0.5s all;
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: 0.5s all cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
}
.navigation__item {
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 3rem;
}
.navigation__link {
  display: inline-block;
  padding: 1rem 1rem;
  color: #FAFAFA;
  font-size: 3rem;
  text-decoration: none;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #FAFAFA 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:hover {
  background-position: 100%;
  color: #BA8554;
  transform: translateX(1rem);
}

/**keyframes**/
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  20% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  20% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*utilities*/
.margin-bottom-80px {
  margin-bottom: 8rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-24px {
  margin-bottom: 2.4rem;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-top-30px {
  margin-top: 3rem;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  padding-left: 4.5rem;
  text-align: left;
}

.btn {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
  display: inline-block;
  padding: 1.5rem 4rem;
  background-color: #FAFAFA;
  border-radius: 5rem;
  transition: all 0.3s;
}
.btn_animated {
  animation: btnToUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  background: #FAFAFA;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  transition: all 0.4s;
}

.btn-text {
  text-decoration: none;
  color: #777777;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.92rem;
  letter-spacing: 0.2rem;
  padding: 1.2rem;
  border-bottom: 1px solid #BA8554;
}
.btn-text:hover {
  background-color: #BA8554;
  color: #FAFAFA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0);
}

.btn-booking {
  margin-top: 1rem;
  width: 250px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FAFAFA;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.92rem;
  letter-spacing: 0.2rem;
  padding: 1.5rem 2.1rem;
  background-color: #BA8554;
  border: none;
  border-radius: 3rem;
}
.btn-booking:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-0.2rem);
}
.btn-booking:active {
  transform: translateY(0);
}

/*# sourceMappingURL=style.css.map */
